#no,#yes{
    box-shadow: 1px 1px 2px black;
    margin:0 20px;
    transform:scale(1.4);   
}
#yes:hover,
#yes:active,#no:hover,
#no:active{
    color:red;
}
p{
    transform:translate(20%,0);
    opacity:0;
    color:rgb(218, 72, 96);
}
.animate__slideInDown{
    color:red;
}
.animate__fadeInUp{
    opacity:1;
}
.no-opacity{
    opacity:0;
}
